<% layout('layouts/boilerplate') %>

    <div class="row mt-3">
        <div class="col-3">
            <div class="navigatorList " style="list-style-type: none">
                <div class="row">
                    <span class="col-2"><i class="fa-regular fa-user"></i></span>
                    <span class="col-10">
                        <%=user.username%>
                    </span>
                </div>
                <div class="row">
                    <span class="col-2"><i class="fa-solid fa-user-group"></i></span>
                    <span class="col-10">
                        Freunde finden
                    </span>
                </div>
                <div class="row">
                    <span class="col-2"><i class="fa-solid fa-users"></i></span>
                    <span class="col-10">
                        Gruppen
                    </span>
                </div>
            </div>
        </div>
        <div class="col-6" style=overflow:auto>

            <form action="/<%=user._id%>/index" method="POST">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Hello <%=user.username%>
                        </h5>
                        <p class="card-text">
                        <div class="mb-3">
                            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Add your post"
                                rows="1" name="post[text]"></textarea>
                        </div>
                        </p>
                        <div class="input-group mb-3">
                            <input type="file" name="post[image]" class="form-control" id="inputGroupFile02" multiple
                                name="text">
                        </div>
                        <button class="btn btn-success" type="submit">Post</button>
                    </div>
                </div>
            </form>
            <% for(let i=0;i<user.posts.length; i++ ) {%>
                <% const options={ year: 'numeric' , month: 'long' , day: 'numeric' }; %>
                    <% let postDate=user.posts[i].date.toLocaleDateString('de-DE', options);%>

                        <div class="card mt-3">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%=user.username%>
                                </h5>
                                <h6>
                                    <%=postDate%>
                                </h6>
                                <p class="card-text">
                                    <%=user.posts[i].text %>
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <button class="btn btn-outline-success d-flex justify-content-end"><i
                                            class="fa-regular fa-thumbs-up"></i>Like</button>
                                    <form action="/<%=user._id%>/index?_method=DELETE" method="POST">
                                        <input type="hidden" name="postId" value="<%=user.posts[i]._id%>">
                                        <input type="hidden" name="index" value="<%=i%>">
                                        <button class="btn btn-outline-danger d-flex justify-content-end"><i
                                                class="fa-solid fa-trash"></i>Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <% } %>

        </div>
        <div class=" col-3">

        </div>
    </div>